#user-input {
    padding: 5px;
    border-radius: 0.2em;
}

#search-button {
    padding: 5px;
    border-radius: 0.2em;
}

.recent-search-li {
    list-style-type: none;
    cursor: pointer;
    padding: 5px;
    margin: 1px;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 0.2em;
    width: 75%;
}

#current-city {
    float: left;
    display: block;
}

#current-icon {
    padding-left: 10px;
    float: left;
    display: block;
}

span {
    padding: 5px 10px;
    color: white;
    border-radius: .45em;
}

.weather-li {
    list-style-type: none;
    padding: 4px;
}

.small-card {
    float: left;
    margin: 2px;
    width: 155px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.hide {
    display: none;
}
